{#
/**
 * @file
 * Example Single Directory Component
 *
 * Available variables:
 * - heading: The title text
 * - content: Optional content text
 */
#}
<div class="example-component p-4 border rounded">
  {% if heading %}
    <h2 class="text-xl font-bold mb-2">{{ heading }}</h2>
  {% endif %}
  {% if content %}
    <div class="text-gray-700">{{ content }}</div>
  {% endif %}
</div>
